
<% if @users.size == 0 %>
  <h1> NO APPROVEL PENDING </h1>
<% else %>
<h1>All Pending Approvels</h1>

<% @users.each do |p| %>
  <h3><%= p.name %> - 
  <%= button_to "Approve", confirm_approve_path(p.id), method: :put %></h3>
  <br>
<% end %>
<% end %>