<% if current_user.role == "Preciousian" and ["All", "NonPreciousian"].include?@post.post_for %>

  <h1>YOu are restricted to add comments </h1>
  <% redirect_to user_posts_path(current_user.id) %>

<% else %>

<%= form_with model: [current_user, @post, @comment] do |f| %>
  <div>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
<% end %>